.video-container {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

#player-container {
    position: relative; /* Necesario para que los controles se posicionen dentro */
    width: 600px; /* Tamaño normal */
    background: black;
}

.player-container:fullscreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra el video si sobra espacio */
    align-items: center;
}

#miVideo {
    width: 100%;
    display: block;
    object-fit: contain;
}

.controles-personalizados {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 2147483647;
    transition: opacity 0.3s;
}

#playPauseBtn {
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
}

/* Estilo para el botón de pausa (cambiará con JS) */
#playPauseBtn.pausado {
    color: yellow; 
}

.barra-fondo {
    width: 100%; 
    height: 10px;
    background-color: #ddd; /* Gris claro */
    cursor: pointer; /* Manita para indicar que es clicable */
    margin-top: 10px;
}

.barra-relleno {
    width: 0%; /* Empieza en 0 */
    height: 100%;
    background-color: #f00; 
    pointer-events: none; 
}

#tiempoTexto {
    font-family: monospace; /* Hace que los números tengan el mismo ancho */
    font-size: 14px;
    margin-left: 10px;
    color: #FFFFFF;
}

.controles {
    display: flex;
    align-items: center; /* Alinea botón y texto verticalmente */
    margin-bottom: 5px;
}

#volumenSlider {
    width: 80px; /* Hacemos la barra cortita */
    cursor: pointer;
    margin-left: 10px; /* Separación del texto de tiempo */
    vertical-align: middle; /* Alineación con el texto */
}

.icono-volumen {
    cursor: pointer; /* Manita al pasar el mouse */
    margin-left: 10px;
    font-size: 20px; /* Un poco más grande */
    user-select: none; /* Evita que se seleccione el texto al hacer doble clic */
}